<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.AddressMapper">
    <!-- 查询用户信息 -->
    <select id="getAddressByUserId" resultType="com.example.entity.Address">
        select * from address where delete_mark = 'N' and user_id = #{userId}
    </select>

    <select id="deleteAddressById" resultType="com.example.entity.Address">
        select * from address where delete_mark = 'N' and id = #{id}
    </select>
</mapper>