<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.NoticeMapper">
    <!-- 查询用户信息 -->
    <select id="getLast" resultType="com.example.entity.Notice">
        SELECT *
        FROM notice where delete_mark = 'N'
        ORDER BY CREATED_TIME DESC
            LIMIT 1;
    </select>
</mapper>