<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.DictMapper">
    <resultMap id="DictTypeMap" type="com.example.vo.DictTypeVo">
        <result property="name" column="name"></result>
        <result property="value" column="value"></result>
    </resultMap>
    <!-- 查询用户信息 -->
    <select id="getDictName" resultMap="DictTypeMap">
        select name,value from dict_type where delete_mark = 'N' and dict_code = #{code}
    </select>
</mapper>